avclass-malicialab~=2.8.7
jupyter
keras~=3.3.2
matplotlib~=3.8.4
notebook>=7.2.2
numpy~=1.26.4
pydot~=2.0.0
requests~=2.32.0
rich~=13.7.1
scikit-learn~=1.5.0
seaborn~=0.13.2
tensorflow~=2.16.1
tqdm~=4.66.2
